<div class="page-header">
  <h1>E-Commerce</h1>
</div>
<form role="form" action="pagar">
  <div class="col-md-4">
    <div class="form-group">
      <label for="sku">Producto:</label>
      <%= select_tag(:sku, options_for_select(@productos.map { |p| ["#{p[:nombre]} (sku: #{p[:sku]})", p[:sku]]}, @sku), class: "form-control") %>
    </div>
    <div class="form-group">
      <label for="cliente">Cliente:</label>
      <input type="text" class="form-control" name="cliente" required>
    </div>
    <div class="form-group">
      <label for="fechaEntrega">Fecha de Entrega:</label>
      <input type="date" class="form-control" name="fechaEntrega" required>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="cantidad">Cantidad: (Unidades)</label>
      <input type="number" class="form-control" name="cantidad" min="1" value="1">
    </div>
    <div class="form-group">
      <label for="promocion">Código de Promoción:</label>
      <input type="text" class="form-control" name="promocion">
    </div>
    <div class="form-group">
      <label>Precio Unitario:</label>
      <input type="hidden" name="precioUnitario" value="<%= @precio %>">
      <h4 name="precioUnitario"><%= number_to_currency @precio %></h4>
  </div>
  <button type="submit" class="btn btn-danger pull-right">
    <span class="glyphicon glyphicon-usd"></span> Pagar
  </button>
</div>
</form>
<br>
</div>
<!-- sku: insumo[:sku], proveedor: proveedor, canal: "b2b", precioUnitario: precio_unitario,
               cantidad: cantidad_faltante, cliente: GroupInfo.grupo, fechaEntrega: Helpers.time_to_unix(pedido.fecha_entrega) -->