
<!-- info  -->
<div class="col-md-6">

  <table class="table table_1">
    <thead>
      <tr>
        <th>Atributo</th>
        <th>Valor</th>
      </tr>
    </thead>
    <% @oc.each do |a| %>
      <tr>
        <td class="key"><%= f_key(a[0].to_s) %></td>
        <td class="value"><%= f_value(a[1].to_s) %></td>
      </tr>
    <% end %>
  </table>

</div>