<%= render layout:'dashboards/layout' do %>

	<div class="row">
		<nav>
			<ul class="pager">
				<li class="option active" id="option_1"><a href="#">SKUs / canal</a></li>
				<li class="option active" id="option_2"><a href="#">Entregas / tiempo</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="row option_content" id="option_content_1">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Nivel de consumo de SKUs según canal
				</div>
				<div class="panel-body">
					<div id="orders_by_canal_chart">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row option_content" id="option_content_2" style="display: hidden;">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cantidad de entregas vs fecha
				</div>
				<div class="panel-body">
					<div id="orders_by_deliver_date">
					</div>
				</div>
			</div>
		</div>
	</div>
	




<% end %>