<%= render layout:'dashboards/layout' do %>

	<div class="row not_together">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= fa_icon 'twitter' %>	Tiwtter
				</div>
				<div class="panel-body">
					<div id="twitter">
						<%= fa_icon 'spinner', class:'fa-spin' %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//rawgithub.com/christianv/jquery-lifestream/master/jquery.lifestream.min.js"></script>
<script>
  $("#twitter").lifestream({
    list:[
      {
        service: "twitter",
        user: "integragrupo5"
      }
    ]
  });
</script>