<%= render layout:'dashboards/layout' do %>

	<div class="row not_together">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= fa_icon 'twitter' %>	Tiwtter
				</div>
				<div class="panel-body">
					<div id="twitter">
						<a class="twitter-timeline" href="https://twitter.com/integragrupo5" data-widget-id="616337376013647872">
							Tweets by @integragrupo5
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>