<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>Notificar Nueva Factura</h5>
      </div>

      <div class="panel-body">
        <p>
          <b>Descripción</b>
          Permite notificar a la empresa la creación de una nueva factura
        </p>
        <p>
          <b>Method: </b>POST
        </p>
        <p>
          <b>URL: </b>/b2b/invoice_created/
        </p>
        <p>
          <b>Params: </b>bill_id: (string)
        </p>

        <p>
          <b>Retorno:</b>
        </p>
        <p>
          En caso de éxito: 200 OK
        </p>
        <p>
          En caso de error: 400 Bad request error, acompañado de la especificación de los parámetros conflictivos
        </p>
      </div>
    </div>
  </div>
</div>