<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Consideraciones</h5>
			</div>

			<div class="panel-body">
				<p>
					<b>Seguridad</b>
				</p>
				<p>
					Todos las llamadas a la API deben llevar parámetro en el header llamado <b>token</b> con el token de cada grupo.
					<br>
				</p>
				<p>
					Este token se puede obtener llamando al método ask_for_token explicado más abajo.
				</p>
			</div>
		</div>	
	</div>
</div>