<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Consideraciones</h5>
			</div>

			<div class="panel-body">
				<p>
					<b>Seguridad</b>
				</p>
				<p>
					Todos las llamadas a la API deben llevar el siguiente header:
					<br>
					<code>Authentication: Token #token</code> (excepto en <code>new_user, get_token</code>)
					<br>
					<code>Content-Type: application/json</code>
					<br>
					<code>Accept: application/json</code>
				</p>
				<p>
					Este token se puede obtener llamando al método <code>get_token</code> explicado más abajo.
				</p>
				<p>

				</p>
			</div>
		</div>	
	</div>
</div>